body {
  text-align: center;
  background-color: #011f3f;
}
.game-header {
  height: 50vh;
}
img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 60%;
  margin: auto;
}

.flex-box > div {
  margin: 25px;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.container > .btn {
  font-size: 2rem;
  height: auto;
  width: 30%;
  background-color: #39638f;
  border: 10px solid #39638f;
  border-radius: 30px;
  margin: 0%;
}

.gameOver {
  background-color: red !important;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}
/* Prevent background color change on hover */
.green:hover {
  background-color: green !important;
  border-color: black !important;
}
.red:hover {
  background-color: red !important;
  border-color: black !important;
}
.yellow:hover {
  background-color: yellow !important;
  border-color: black !important;
}
.blue:hover {
  background-color: blue !important;
  border-color: black !important;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.flex-box {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .game-header {
    height: 20vh;
  }
  #level-title {
    font-family: "Press Start 2P", cursive;
    font-size: 1rem;
    margin: 5%;
    color: #fef2bf;
  }
  .flex-box > div {
    margin: 15px;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 10px solid black;
    border-radius: 20%;
  }
  img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }
  .container > .btn {
    font-size: 1rem;
    margin-top: 50px;
    height: auto !important;
    width: auto;
    background-color: #39638f;
    border: 10px solid #39638f;
    border-radius: 30px;
    padding: 0 20px;
  }
  .container {
    width: auto;
  }
}
/* Media query for screens between 768px and 1000px */
@media (min-width: 413px) and (max-width: 1000px) {
  .flex-box > div {
    margin: 15px;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 10px solid black;
    border-radius: 20%;
  }
}
